# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
pillow=5.2.0=pypi_0
python=3.6.8=haf84260_0
pytorch=1.1.0=py3.6_0
torchvision=0.2.2=py_3
